table {
  border:thick salmon solid;
  border-radius: 10px;
}

td {
  border: thin black solid;
}

body {
  background-color: lavender;
}

/* Main HTML Atribute */
html {
  background-color: lavender;
  border-style: double;
  border-width: 10px;
  margin: 50px;
  padding: 15px;
  border-radius: 20px;

}
/* Applies styling to the body */
body {
  height: auto
  width: 160vh;
  align-self: center;
  background-color:lightgrey

}
/* Creating a height, a color and aligning text */

/* Nav bar poistion, the padding, color and general font size */
nav {
  position: relative;
  padding-top: 10px;
  width: auto;
  background-color:gray;
  font-size: 20pt;
  display: flex;
  justify-content:space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font: brown;
}